@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background-color: #d8dfe8;
}

main {
  width: 100%;
  height: 100%;
}

h1 {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  padding-top: 20px;
  text-align: center;
}

.descripcion,
label {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}

textarea{
  height: 725px;
}

.text-box1 {
  width: 50%;
  float: left;
  display: grid;
  place-items: center;
}

.btn-text-box {
  display: flex;
  justify-content: space-between;
  width: 680px;

}

.text-box2 {
  width: 400px;
  height: 944px;
  border-radius: 33px;
  background-color: white;
  float: right;
  display: grid;
  place-items: center;
}

#input-text {
  width: 80%;
  font-size: 35px;
  border: none;
  outline: none;
  background-color: #d8dfe8;
  color: #21235b;
}

#encrypted-text {
  width: 80%;
  font-size: 32px;
  border: none;
  outline: none;
}

.btn-encriptar {
  position: flex;
  width: 328px;
  height: 67px;
  background-color: #21235b;
  color: whitesmoke;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
}

.btn-copiar,
.btn-desencriptar {
  position: flex;
  width: 328px;
  height: 67px;
  background: #e8e8e9;
  color: #757fb2;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  border-color: #757fb2;
}

/* CSS para movil */

@media screen and (max-width: 480px) {
  .text-box1,
  .text-box2 {
    width: 100%;
  }

  .text-box1 > label,
  .text-box2 > label {
    margin: 1em;
  }

  #boton-desencriptar,
  #boton-copiar {
    margin-bottom: 1em;
  }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-box1,
  .text-box2 {
    width: 100%;
  }

  .text-box1 > label,
  .text-box2 > label {
    margin: 1em;
  }

  #boton-desencriptar,
  #boton-copiar {
    margin-bottom: 1em;
  }
}
